body {
    background-color: #f8f8f8;
    font: 14px/1.42857143 "Open Sans", "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 80px;
    position: relative;
}

.main-container {
    background-color: white;
    margin-bottom: 30px;
    padding: 30px 65px 60px 65px;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25), inset 0 0 0 rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25), inset 0 0 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.25), inset 0 0 0 rgba(0, 0, 0, 0.1);
}

.button-wrapper {
    margin: 30px 0;
    text-align: center;
}

.button-sub {
    margin-top: 0.5em;
}

.page-home .lead {
    font-weight: 400;
}

.latest-news {
    margin-top: 3em;
}

.latest-news > h2 {
    padding-left: 36px;
}

.post-meta {
    color: #767676;
    font-size: 85%;
    margin-bottom: 10px;
}

.post-meta .date {
    margin-right: 0.4em;
}

.new > h3 {
    font-size: 20px;
    margin-bottom: 0;
}

.features {
    line-height: 1.5;
    text-align: center;
}

.features h1 {
    border-bottom: none;
    font-size: 22px;
    font-weight: normal;
    line-height: 36px;
    margin-bottom: 2%;
    padding-bottom: 0;
}

.page-downloads .downloads-version {
    font-weight: bold;
    padding-bottom: 8px;
    text-align: center;
}

.page-downloads .well {
    padding-top: 3%;
}

.page-downloads .well > h3,
.page-downloads .well > h4 {
    margin-top: 0;
    text-align: center;
}

.panel-title > .toggleLink:after {
    font-family: "FontAwesome";
    content: "\f077";   /* fa-chevron-up */
    float: right;
}

.panel-title > .toggleLink.collapsed:after {
    content: "\f078";   /* fa-chevron-down */
}

.navbar-brand::before {
    background: url("../img/navbar-logo@2x.png") no-repeat;
    background-size: 20px 20px;
    content: "";
    display: inline-block;
    margin-right: 8px;
    vertical-align: middle;
    width: 20px;
    height: 20px;
}

.full-news a[href*="//"]:not([href^="mpc-hc.org"]):not([href*="trac.mpc-hc.org"]):after,
.new a[href*="//"]:not([href^="mpc-hc.org"]):not([href*="trac.mpc-hc.org"]):after {
    content: "\f08e";   /* fa-external-link */
    display: inline-block;
    font-family: FontAwesome;
    margin-left: 0.3em;
}


/* -- Bootstrap overrides -- */
.navbar-brand {
    font-size: 21px;
    font-weight: bold;
}

.navbar-brand:focus,
.navbar-brand:hover {
    text-shadow: 0 0 20px #08C;
}

.navbar-default .navbar-nav > li > a,
.dropdown-menu > li > a {
    color: #727272;
}

.thumbnail {
    border: none;
}

.alert h4 {
    font-weight: bold;
    margin-bottom: 5px;
    margin-top: 0;
}

.alert p:last-child {
    margin-bottom: 0;
}

.btn-danger {
    background-color: #ce4844;
}

.btn-success {
    background-color: #2c882c;
}

.table-striped a {
    color: #276499;
}

.pager .disabled > span,
.pagination > .disabled > span {
    color: #767676;
}

.panel-title {
    font-size: 20px;
}

.panel-title > a {
    display: block;
}

.list-group-item {
    padding: 15px;
}


/* footer */
footer {
    font-size: 90%;
    margin: 50px 0 30px 0;
}

footer h3 {
    border-bottom: none;
    margin: 0 0 10px 0;
}

footer ul {
    margin: 0;
}


/* -- social networks -- */
.social-ul {
    margin-bottom: 8px;
}

.social-ul li:not(:last-of-type) {
    margin-right: 16px;
}

.rss-before {
    margin-top: 3px;
    position: absolute;
}

.social-ul .fa,
.fa-rss {
    color: lightgray;
    -webkit-transition: all 0.5s ease 0s;
       -moz-transition: all 0.5s ease 0s;
         -o-transition: all 0.5s ease 0s;
            transition: all 0.5s ease 0s;
}

.social-ul .fa:hover,
.fa-rss:hover,
.social-ul .fa:focus,
.fa-rss:focus {
    text-decoration: none;
    -webkit-transform: scale(1.5);
       -moz-transform: scale(1.5);
        -ms-transform: scale(1.5);
         -o-transform: scale(1.5);
            transform: scale(1.5);
}

.fa-facebook-f:hover {
    color: #3a558e;
}

.fa-twitter:hover {
    color: #4099ff;
}

.fa-google-plus:hover {
    color: #d34836;
}

.fa-github:hover {
    color: #333333;
}

.fa-rss:hover {
    color: #fe9900;
}

.fa-maxcdn {
    color: #ff5b02;
}

.fa-maxcdn:hover,
.fa-maxcdn:focus {
    opacity: 0.9;
}

.cloudvps a,
.maxcdn a {
    display: inline-block;
}

.paginate-container {
    margin: 20px auto;
    text-align: center;
}

.pager li span {
    vertical-align: middle;
}

.last-updated {
    border-bottom: 1px dotted black;
    cursor: help;
}

.noscript-warning {
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
}


/* Sort of hack so that the anchors aren't hidden due to fixed nav */
h1[id]:before,
h2[id]:before,
h3[id]:before,
h4[id]:before,
h5[id]:before,
h6[id]:before {
    content: " ";
    display: block;
    height: 60px;
    margin-top: -60px;
    visibility: hidden;
}


::-moz-selection {
    background-color: #b3d4fc;
    text-shadow: none;
}

::selection {
    background-color: #b3d4fc;
    text-shadow: none;
}

.no-js .defer {
    display: none;
}

.defer {
    opacity: 0;
}

.defer.loaded {
    opacity: 1;
    -webkit-transition: opacity 0.3s ease 0s;
       -moz-transition: opacity 0.3s ease 0s;
         -o-transition: opacity 0.3s ease 0s;
            transition: opacity 0.3s ease 0s;
}

.browserPrompt {
    text-align: center;
}


.mpc-team .team-member a {
    color: #555;
    line-height: 2rem;
    vertical-align: middle;
}

.mpc-team .team-member a:hover {
    color: #333;
    text-decoration: none;
}

.mpc-team .github-btn iframe {
    border: none;
    margin-top: 0.25rem;
    width: 180px;
    height: 30px;
}

.mpc-team img {
    -webkit-border-radius: 0.25rem;
    -moz-border-radius: 0.25rem;
    border-radius: 0.25rem;
    float: left;
    margin-right: 0.5rem;
}


/* -- media queries -- */
@media (max-width: 767px) {
    body {
        background-color: transparent;
    }

    .main-container {
        padding: 0 25px;
        -webkit-box-shadow: none;
           -moz-box-shadow: none;
                box-shadow: none;
    }

    footer {
        margin: 10px;
    }

    .footer-left,
    .footer-center,
    .footer-right {
        border-right: none;
        margin-top: 10px;
    }

    .social-ul li:not(:last-of-type) {
        margin-right: 10px;
    }

    .social-ul > li:first-child {
        padding-left: 0;
    }

    .social-ul > li > a {
        display: inline-block;
        padding: 0.5em;
    }
}

@media (min-width: 768px) {
    .navbar-left {
        margin-left: 4em;
    }

    .navbar-right > li:last-of-type > a {
        padding-bottom: 10px;
        padding-top: 11px;
    }

    .page-home .lead {
        text-align: justify;
    }

    .maxcdn .fa-maxcdn {
        vertical-align: middle;
        line-height: normal;
    }

    .footer-left,
    .footer-center,
    .footer-right {
        min-height: 125px;
    }

    .footer-left {
        text-align: left;
    }

    .footer-center {
        text-align: center;
    }

    .footer-right {
        border-right: none;
        text-align: right;
    }

    .footer-left,
    .footer-center {
        border-right: 1px solid #D2D2D2;
    }

    .mpc-team .github-btn,
    .mpc-team .team-member-role,
    .mpc-team .team-member-lang,
    .mpc-team .team-member-email {
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-left {
        margin-left: 2em;
    }
}

@media (max-width: 480px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 28px;
    }

    ul {
        padding-left: 20px;
    }
}
