body {
    background-color: #f8f8f8;
    font: 15px/1.5 -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Helvetica, Arial, sans-serif;
    padding-top: 80px;
    position: relative;
}

.main-container {
    background-color: #fff;
    margin-bottom: 30px;
    padding: 30px 65px 60px 65px;
    border-radius: 4px;
    box-shadow: 0 0 4px rgba(0, 0, 0, 0.25), inset 0 0 0 rgba(0, 0, 0, 0.1);
}

.button-wrapper {
    margin: 30px 0;
    text-align: center;
}

.button-sub {
    margin-top: 1em;
}

.page-home .lead {
    font-weight: 400;
}

.latest-news {
    margin-top: 3em;
}

.latest-news > h2 {
    padding-left: 36px;
}

.post-meta {
    color: #767676;
    font-size: 85%;
    margin-bottom: 10px;
}

.post-meta .date {
    margin-right: 0.4em;
}

.new > h3 {
    font-size: 20px;
    margin-bottom: 0;
}

.features {
    line-height: 1.5;
    text-align: center;
}

.features h1 {
    border-bottom: none;
    font-size: 22px;
    font-weight: 400;
    line-height: 36px;
    margin-bottom: 2%;
    padding-bottom: 0;
}

.page-downloads .downloads-version {
    font-weight: 700;
    padding-bottom: 8px;
    text-align: center;
}

.page-downloads .well {
    padding-top: 3%;
}

.page-downloads .well > h3,
.page-downloads .well > h4 {
    margin-top: 0;
    text-align: center;
}

.panel-title > .toggleLink::after {
    content: "\f077"; /* fa-chevron-up */
    float: right;
    font-family: FontAwesome;
    /*transition: transform 0.35s ease;*/
}

.panel-title > .toggleLink.collapsed::after {
    content: "\f078"; /* fa-chevron-down */
    /*transform: rotate(180deg);*/
}

.navbar-brand img {
    display: inline-block;
    margin-right: 2px;
    vertical-align: middle;
}

.full-news a[href*="//"]:not([href^="mpc-hc.org"]):not([href*="trac.mpc-hc.org"])::after,
.new a[href*="//"]:not([href^="mpc-hc.org"]):not([href*="trac.mpc-hc.org"])::after {
    content: "\f08e"; /* fa-external-link */
    display: inline-block;
    font-family: FontAwesome;
    margin-left: 0.3em;
}


/* -- Bootstrap overrides -- */
abbr[title] {
    border-bottom: none;
    cursor: help;
    text-decoration: underline;
    text-decoration: underline dotted;
}

.navbar-default .navbar-brand {
    font-size: 21px;
    font-weight: 700;
}

.navbar-default .navbar-brand:focus,
.navbar-default .navbar-brand:hover {
    text-shadow: 0 0 20px #08c;
}

.navbar-default .navbar-nav > li > a,
.dropdown-menu > li > a {
    color: #727272;
}

.thumbnail {
    border: none;
}

.alert h4 {
    font-weight: 700;
    margin-bottom: 5px;
    margin-top: 0;
}

.alert p:last-child {
    margin-bottom: 0;
}

.btn-danger {
    background-color: #ce4844;
}

.btn-success {
    background-color: #2c882c;
}

.table-striped a {
    color: #276499;
}

.pager .disabled > span,
.pagination > .disabled > span {
    color: #767676;
}

.panel-title {
    font-size: 20px;
}

.panel-title > a {
    display: block;
}

.list-group-item {
    padding: 15px;
}


/*
animated navbar button
*/
.navbar-default .navbar-toggle {
    background-color: transparent;
    border: none;
}

.navbar-default .navbar-toggle:focus,
.navbar-default .navbar-toggle:hover {
    background-color: transparent;
}

.navbar-default .navbar-toggle .icon-bar {
    transition: transform 0.35s ease, opacity 0.35s ease;
    width: 22px;
}

.navbar-default .navbar-toggle .top-bar {
    transform: rotate(45deg);
    transform-origin: 10% 10%;
}

.navbar-default .navbar-toggle .middle-bar {
    opacity: 0;
}

.navbar-default .navbar-toggle .bottom-bar {
    transform: rotate(-45deg);
    transform-origin: 10% 90%;
}

.navbar-default .navbar-toggle.collapsed .top-bar,
.navbar-default .navbar-toggle.collapsed .bottom-bar {
    transform: rotate(0);
}

.navbar-default .navbar-toggle.collapsed .middle-bar {
    opacity: 1;
}


/* footer */
footer {
    font-size: 90%;
    margin: 50px 0 30px 0;
}

footer a {
    color: #2071b8;
}

footer h3 {
    border-bottom: none;
    margin: 0 0 10px 0;
}

footer ul {
    margin: 0;
}


/* -- social networks -- */
.social-ul {
    margin-bottom: 8px;
}

.social-ul li:not(:last-of-type) {
    margin-right: 16px;
}

.rss-before {
    margin-top: 3px;
    position: absolute;
}

.social-ul .fa,
.fa-rss {
    color: #d3d3d3;
    transition: color 0.5s ease, transform 0.5s ease;
}

.social-ul .fa:hover,
.fa-rss:hover,
.social-ul .fa:focus,
.fa-rss:focus {
    text-decoration: none;
    transform: scale(1.5);
}

.fa-facebook-f:hover {
    color: #3a558e;
}

.fa-twitter:hover {
    color: #4099ff;
}

.fa-github:hover {
    color: #333;
}

.fa-rss:hover {
    color: #fe9900;
}

.cloudvps a,
.stackpath a {
    display: inline-block;
}

.paginate-container {
    margin: 20px auto;
    text-align: center;
}

.pager li span {
    vertical-align: middle;
}

.last-updated {
    border-bottom: 1px dotted #000;
    cursor: help;
}

.noscript-warning {
    bottom: 0;
    position: fixed;
    width: 100%;
    z-index: 100;
}


/* Sort of hack so that the anchors aren't hidden due to fixed nav */
h1[id]::before,
h2[id]::before,
h3[id]::before,
h4[id]::before,
h5[id]::before,
h6[id]::before {
    content: " ";
    display: block;
    height: 60px;
    margin-top: -60px;
    visibility: hidden;
}

::selection {
    background-color: #b3d4fc;
    text-shadow: none;
}

.defer {
    opacity: 0;
}

.no-js .defer {
    display: none;
}

.defer.loaded {
    opacity: 1;
    transition: opacity 0.3s ease;
}

.browserPrompt {
    text-align: center;
}


.mpc-team .team-member a {
    color: #555;
    line-height: 2rem;
    vertical-align: middle;
}

.mpc-team .team-member a:hover {
    color: #333;
    text-decoration: none;
}

.mpc-team .github-btn iframe {
    border: none;
    margin-top: 0.25rem;
    width: 180px;
    height: 30px;
}

.mpc-team img {
    border-radius: 0.25rem;
    float: left;
    margin-right: 0.5rem;
}


.page-four-oh-four .main-container {
    background-color: transparent;
    margin-bottom: 30px;
    padding: 0 0 60px 0;
    border-radius: 0;
    box-shadow: none;
}

.page-four-oh-four .jumbotron {
    background-color: transparent;
    color: inherit;
    font-size: 21px;
    font-weight: 300;
    line-height: 2.1428571435;
    padding: 10px 0;
    text-align: center;
}

.page-four-oh-four .body-content {
    padding-left: 15px;
    padding-right: 15px;
}

.page-four-oh-four .jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.page-four-oh-four footer {
    border-top: 1px solid #d3d3d3;
    padding-top: 20px;
}


/* -- media queries -- */
@media (max-width: 767px) {
    body {
        background-color: transparent;
    }

    .main-container {
        padding: 0 25px;
        box-shadow: none;
    }

    footer {
        margin: 10px;
    }

    .footer-left,
    .footer-center,
    .footer-right {
        border-right: none;
        margin-top: 10px;
    }

    .social-ul li:not(:last-child) {
        margin-right: 10px;
    }

    .social-ul > li:first-child {
        padding-left: 0;
    }

    .social-ul > li > a {
        display: inline-block;
        padding: 0.5em;
    }

    .thumbnail {
        display: inline-block;
        margin-bottom: 8px;
    }

    .features h1 {
        margin-top: 0;
        margin-bottom: 8px;
    }

    .features p {
        margin-bottom: 40px;
    }
}

@media (min-width: 768px) {
    .navbar-right > li:last-of-type > a {
        padding-bottom: 10px;
        padding-top: 11px;
    }

    .page-home .lead {
        text-align: justify;
    }

    .stackpath p {
        margin-bottom: 30px;
    }

    .footer-left,
    .footer-center,
    .footer-right {
        min-height: 125px;
    }

    .footer-left {
        text-align: left;
    }

    .footer-center {
        text-align: center;
    }

    .footer-right {
        border-right: none;
        text-align: right;
    }

    .footer-left,
    .footer-center {
        border-right: 1px solid #d2d2d2;
    }

    .mpc-team .github-btn,
    .mpc-team .team-member-role,
    .mpc-team .team-member-lang,
    .mpc-team .team-member-email {
        text-align: center;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .nav > li > a {
        font-size: 0.9em;
    }

}

@media (max-width: 480px) {
    h1 {
        font-size: 32px;
    }

    h2 {
        font-size: 28px;
    }

    ul {
        padding-left: 20px;
    }
}
