sudo: false

language: node_js

node_js:
  - "0.12"

before_install:
  - rvm use 1.9.3

install:
  - travis_retry npm install -g grunt-cli
  - travis_retry npm install
  - travis_retry bundle install
