body {
    background: white url("../img/bg-pattern.png") repeat top right;
    padding-top: 80px;
    position: relative;
}

blockquote {
    border-left: 0 !important;
}

h1,
h2 {
    font-weight: 500;
}

footer > p {
    font-size: 85%;
    margin-top: -1em;
    text-align: center;
}

table,
table * {
    border: 0;
}

table span.pre {
    font-size: 90%;
}

.container {
    max-width: 940px;
}

#content-container {
    background-color: white;
    margin-bottom: 20px;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25), inset 0 0 0 rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25), inset 0 0 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.25), inset 0 0 0 rgba(0, 0, 0, 0.1);
}

#page {
    margin: 50px;
}

a.brand,
a.btn.btn-inverse.btn-large {
    outline: none;
}

.navbar-fixed-top .brand {
    color: #333;
    font-size: 22px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 30px;
    padding-left: 0;
    padding-right: 0;
    text-shadow: 1px 1px 1px white;
}

.navbar-fixed-top .brand:hover {
    color: white;
    text-shadow: 1px 1px 3px #08C, -1px -1px 3px #08C;
}

.navbar-fixed-top .brand,
.navbar-inner,
.navbar .nav > li > a,
#facebook,
#googleplus,
#rss,
#twitter {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-transition: all 0.15s linear;
       -moz-transition: all 0.15s linear;
         -o-transition: all 0.15s linear;
            transition: all 0.15s linear;
}

.navbar-inner {
    padding-left: 20px;
    padding-right: 20px;
    background-color: #E6E6E6;
    background-image: -webkit-linear-gradient(top, #FFFFFF, #E6E6E6);
    background-image:    -moz-linear-gradient(top, #FFFFFF, #E6E6E6);
    background-image:     -ms-linear-gradient(top, #FFFFFF, #E6E6E6);
    background-image:      -o-linear-gradient(top, #FFFFFF, #E6E6E6);
    background-image:        -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#E6E6E6));
    background-image:         linear-gradient(top, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#E6E6E6', GradientType=0);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.navbar .nav > li > a {
    color: #333;
    font-weight: bold;
    margin: 7px 2px 0 2px;
    outline: none;
    padding: 5px 11px 5px 11px;
    text-shadow: 1px 1px 1px white;
}

.navbar .nav > li > a:hover {
    color: #333;
}

.navbar .nav > li.active > a,
.navbar .nav > li.active > a:hover {
    background-color: white;
    color: #08C;
}

.navbar .divider-vertical {
    background-color: #D2D2D2;
    border-right: 1px solid white;
}

.navbar .nav > li > a:hover,
.navbar .dropdown-menu a:hover {
    background-color: white;
}

.full-news h1 {
    border-bottom: 0;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.full-news blockquote {
    margin: 0;
}

.full-news ul.simple {
    margin-bottom: 6px;
}

.full-news h1 + p,
#latest-news h2 + p {
    font-size: 80%;
}

#latest-posts {
    margin-top: 4em;
}

#latest-news h2 {
    border-bottom: 0;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
}

#latest-news {
    margin-top: 3em;
}

#latest-news .new + p {
    margin-top: 2.5em;
}

#archive h2,
#archive h3 {
    border-bottom: 0;
}

.read-more {
    float: right;
    font-size: 85%;
    font-style: italic;
}

.marketing {
    border-bottom: 0;
    margin: 0;
}

.marketing h2 {
    border-bottom: 0;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 0;
}

.centered {
    padding-bottom: 18px;
    text-align: center;
}

/* social networks */
#social-ul a {
    display: block;
    width: 24px;
    height: 24px;
}

#social-ul a:link {
    outline: none;
    text-decoration: none;
}

#social-ul {
    margin: 0;
}

#social-ul li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0 3px;
}

#facebook   { background: -56px -2px no-repeat url("../img/social-buttons.png"); }
#googleplus { background: -84px -2px no-repeat url("../img/social-buttons.png"); }
#rss        { background: -28px -2px no-repeat url("../img/social-buttons.png"); }
#twitter    { background:     0 -2px no-repeat url("../img/social-buttons.png"); }

#facebook,
#googleplus,
#rss,
#twitter {
    opacity: 0.7;
    filter: alpha(opacity=70); /* For IE8 and earlier */
}

#facebook:hover,
#googleplus:hover,
#rss:hover,
#twitter:hover {
    opacity: 1.0;
    filter: alpha(opacity=100); /* For IE8 and earlier */
/*    -webkit-transform: scale(1.25);
       -moz-transform: scale(1.25);
        -ms-transform: scale(1.25);
         -o-transform: scale(1.25);
            transform: scale(1.25);
    filter: progid:DXImageTransform.Microsoft.Matrix(sizingMethod='auto expand', M11=1.25, M12=-0, M21=0, M22=1.25);*/
}

::-moz-selection {
    background-color: #B3D4FC;
    text-shadow: none;
}

::selection {
    background-color: #B3D4FC;
    text-shadow: none;
}


@media screen and (max-width: 979px) {
    body {
        padding-top: 0;
    }
}

@media (max-width: 767px) {
    #content-container #page {
        margin: 30px;
    }
}

@media (max-width: 480px) {
    body {
        background-image: none;
    }
    #content-container {
        -webkit-box-shadow: none;
           -moz-box-shadow: none;
                box-shadow: none;
    }
    #content-container #page {
        margin: 0;
    }
}

@media (min-width: 980px) {
    .span4 {
        width: 250px;
    }
    .row {
        margin-left: -10px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .span4,
    img.screenshot {
        width: 180px;
    }
    .row {
        margin-left: auto;
    }
}

@media (max-width: 767px) {
    img.screenshot {
        width: 32%;
    }
    div.screenshot {
        display: inline;
        margin: 20px auto;
    }
    div.screenshot.last {
        display: inline;
        margin: 20px auto;
        width: 100%;
    }
    div.screenshot.last img {
        margin: auto;
    }
}

@media (max-width: 565px) {
    div.screenshot,
    hr.screenshot {
        display: none;
    }
}
