/*csslint box-sizing: false, font-sizes: false, important: false,
  qualified-headings: false, unique-headings: false*/

body {
    background: white url("../img/bg-pattern.png") repeat top right;
    font: 14px/20px "Open Sans";
    padding-top: 80px;
    position: relative;
}

/* IE 10: Remove grey background on active links
   https://github.com/necolas/normalize.css/issues/172
   Remove this when it's in normalize.css */
a:active {
    background-color: transparent;
}

h1 {
    font-size: 30px;
    font-weight: normal;
    line-height: 1;
    padding-bottom: 17px;
}

h2 {
    font-size: 24px;
    font-weight: normal;
    line-height: 36px;
}

h3 {
    font-size: 18px;
    line-height: 27px;
}

h1,
h2,
h3 {
    margin: 18px 0;
    border-bottom: 1px solid #EEEEEE;
}

table,
table td,
table th,
table tr {
    border: 0;
}

table .pre {
    font-size: 85%;
}

.content-container {
    background-color: white;
    margin-bottom: 30px;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25), inset 0 0 0 rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25), inset 0 0 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.25), inset 0 0 0 rgba(0, 0, 0, 0.1);
}

.page {
    margin: 50px;
}

.full-news h1 {
    border-bottom: 0;
    font-size: 24px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.full-news blockquote {
    margin: 0;
}

.full-news .simple {
    margin-bottom: 6px;
}

.full-news h1 + p,
.new h2 + p {
    font-size: 80%;
}

.latest-news {
    margin-top: 3em;
}

.latest-news > h1 {
    padding-left: 36px;
}

.new h2 {
    border-bottom: 0;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
}

.new + p {
    margin-top: 2.5em;
}

.read-more {
    float: right;
    font-size: 85%;
    font-style: italic;
}

.marketing h2 {
    border-bottom: 0;
    font-size: 22px;
    margin-bottom: 0;
}

.marketing p {
    text-align: justify;
}

.downloads-version {
    padding-bottom: 18px;
}


/* -- Bootstrap overrides -- */
.container {
    max-width: 940px;
}

.navbar .brand,
.navbar .nav > li > a {
    -webkit-transition: all 0.15s linear;
       -moz-transition: all 0.15s linear;
         -o-transition: all 0.15s linear;
            transition: all 0.15s linear;
}

.navbar .nav > li > a {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.navbar .divider-vertical {
    -webkit-box-sizing: content-box;
       -moz-box-sizing: content-box;
            box-sizing: content-box;
    width: 1px;
    background-color: #D2D2D2;
    border-right: 1px solid white;
}

.navbar .brand {
    font-size: 21px;
    font-weight: bold;
}

.navbar .brand:hover {
    color: white;
    filter: progid:DXImageTransform.Microsoft.Shadow(Color='#00008c', Direction=315, Strength=4); /* IE DIE ALREADY */
    text-shadow: 0 2px 4px #08C, 0 -2px 4px #08C;
}

.navbar .nav > li > a {
    font-weight: bold;
    margin: 7px 0 0 8px;
    padding: 5px 10px 5px 8px;
}

.navbar .nav > li > a:focus {
    color: black;
}

.navbar .nav > li > a:hover {
    background-color: #E5E5E5;
}

.navbar .nav > li.active > a,
.navbar .nav > li.active > a:hover {
    color: #08C;
}

.lead {
    font-size: 20px;
    font-weight: normal;
    line-height: 27px;
    text-align: justify;
}

blockquote {
    border-left: 0 !important;
}

blockquote p {
    font-size: inherit;
}

table {
    width: 100%;
    margin-bottom: 20px;
}

table td,
table th {
    border-top: 1px solid #dddddd;
    line-height: 20px;
    padding: 8px;
    vertical-align: top;
}

table th {
    font-weight: bold;
}

table thead th {
    vertical-align: bottom;
}

table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
    border-top: 0;
}

table tbody + tbody {
    border-top: 2px solid #dddddd;
}

table table {
    background-color: white;
}

table tbody tr:hover td,
table tbody tr:hover th {
    background-color: #f5f5f5;
}


/* ---- admonitions ---- */
.admonition {
    margin-bottom: 10px;
    /*margin-bottom: 20px;*/
    margin-top: 10px;
    padding: 7px;
    /*padding: 8px 35px 8px 14px;*/
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.admonition-title {
    font-weight: bold;
    margin: 0 10px 5px 0;
}

.warning {
    background-color: #fcf8e3;
    border: 2px solid #fbeed5;
    color: #c09853;
}

.hint,
.note {
    /*color: #3A87AD;*/
    background-color: #dff0d8;
    border: 2px solid #d6e9c6;
    color: #468847;
}
/* -- admonitions END -- */


/* footer */
footer {
    font-size: 90%;
    margin: 50px 0 30px 0;
}

footer h3 {
    border-bottom: 0;
    margin-bottom: 10px;
    margin-top: 0;
}

footer li {
    list-style-type: none;
}

footer ul {
    margin: 0;
}

.footer-left,
.footer-center {
    border-right: 1px solid #D2D2D2;
}

.footer-left {
    text-align: left;
}

.footer-center {
    margin-left: 0;
    text-align: center;
}

.footer-right {
    border-right: none;
    text-align: right;
}

.copyright {
    margin: 40px auto 30px auto;
}

.noscript-warning {
    display: none;
}

/* -- social networks -- */
.social-ul {
    margin: 0 0 8px -12px;
    padding-top: 6px;
}

.social-ul li {
    display: inline-block;
    margin: 0 5px;
    padding: 0 3px;
}

.rss-before {
    margin-top: 8px;
    position: absolute;
}

a.zocial-facebook,
a.zocial-twitter,
a.zocial-googleplus,
a.zocial-rss {
    color: lightgray;
    display: inline-block;
    min-width: 26px;
    -webkit-transition: color 0.15s linear;
       -moz-transition: color 0.15s linear;
         -o-transition: color 0.15s linear;
            transition: color 0.15s linear;
}

a.zocial-facebook:before,
a.zocial-twitter:before,
a.zocial-googleplus:before,
a.zocial-rss:before {
    font: 26px/1px zocial, sans-serif;
}

a.zocial-facebook:hover,
a.zocial-twitter:hover,
a.zocial-googleplus:hover,
a.zocial-rss:hover,
a.zocial-facebook:focus,
a.zocial-twitter:focus,
a.zocial-googleplus:focus,
a.zocial-rss:focus {
    color: gray;
    text-decoration: none;
}

::-moz-selection {
    background-color: #B3D4FC;
    text-shadow: none;
}

::selection {
    background-color: #B3D4FC;
    text-shadow: none;
}


/* -- media queries -- */
@media (min-width: 980px) {
    .row {
        margin-left: -10px;
    }
    .span4 {
        width: 250px;
    }
}

@media screen and (max-width: 979px) {
    body {
        padding-top: 0;
    }
    .navbar .brand {
        margin-left: 2px;
    }
    .noscript-warning {
        bottom: 0;
        display: block;
        position: fixed;
        width: 100%;
        z-index: 100;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    img.screenshot,
    .span4 {
        width: 180px;
        height: 130px;
    }
    .row {
        margin-left: auto;
    }
    .copyright {
        margin: 40px auto 30px -14px;
    }
}

@media (max-width: 767px) {
    .page {
        margin: 30px;
    }
    div.screenshot {
        display: inline;
    }
    img.screenshot {
        width: 32%;
        height: 24%;
    }
    .read-more {
        position: relative;
        top: -8px;
    }
    .footer-left,
    .footer-center,
    .footer-right {
        border-right: none;
        margin: 10px 0;
        text-align: left;
    }
    .copyright {
        margin: 30px auto 20px auto;
    }
}

@media (max-width: 565px) {
    div.screenshot,
    hr.screenshot {
        display: none;
    }
    .footer-left,
    .footer-center,
    .footer-right {
        margin: 10px 0;
        text-align: left;
    }
    .copyright {
        margin: 8px auto;
    }
}

@media (max-width: 480px) {
    body {
        background-image: none;
    }
    .page {
        margin: 0;
    }
    .content-container {
        -webkit-box-shadow: none;
           -moz-box-shadow: none;
                box-shadow: none;
    }
}
