body {
    background: #FFFFFF url("../img/bg-pattern.png") repeat top right;
    padding-top: 80px;
    position: relative;
}

.container,
.navbar-fixed-top .container,
.navbar-fixed-bottom .container {
    max-width: 940px;
}

#content-container {
    background-color: #FFFFFF;
    margin-bottom: 20px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25), inset 0 0 0 rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25), inset 0 0 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.25), inset 0 0 0 rgba(0, 0, 0, 0.1);
}

#content-container #page {
    margin: 50px;
}

.read-more {
    float: right;
    font-size: 85%;
    font-style: italic;
}

.container a.headerlink {
    font-size: 0.8em;
    padding: 0 4px;
    text-decoration: none;
    visibility: hidden;
}

.container *:hover > a.headerlink {
    visibility: visible;
}

footer > p {
    font-size: 85%;
    margin-top: -1em;
    text-align: center;
}

table,
table * {
    border: 0;
}

.navbar-fixed-top .brand {
    color: #333;
    font-size: 22px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 30px;
    padding-left: 0;
    padding-right: 0;
    text-shadow: 1px 1px 1px #FFFFFF;
    -webkit-transition: all .1s linear;
       -moz-transition: all .1s linear;
            transition: all .1s linear;
}

.navbar-fixed-top .brand:hover {
    color: #FFFFFF;
    text-shadow: 1px 1px 3px #08C, -1px -1px 3px #08C;
}

.navbar-inner,
.navbar .nav > li > a {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.navbar-inner {
    padding-left: 20px;
    padding-right: 20px;
    background-color: rgb(230, 230, 230);
    background-image: -webkit-linear-gradient(top, #FFFFFF, rgb(230, 230, 230));
    background-image:    -moz-linear-gradient(top, #FFFFFF, rgb(230, 230, 230));
    background-image:     -ms-linear-gradient(top, #FFFFFF, rgb(230, 230, 230));
    background-image:      -o-linear-gradient(top, #FFFFFF, rgb(230, 230, 230));
    background-image:        -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(rgb(230, 230, 230)));
    background-image:         linear-gradient(top, #FFFFFF, rgb(230, 230, 230));
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#E6E6E6', GradientType=0);
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.navbar .nav > li > a {
    color: #333;
    font-weight: bold;
    margin: 7px 2px 0 2px;
    padding: 5px 11px 5px;
    text-shadow: 1px 1px 1px #FFFFFF;
}

.navbar .nav > li > a:hover {
    color: #333;
}

.navbar .nav > li.active > a {
    background-color: #FFFFFF;
    color: #08C;
}

.navbar .nav > li.active > a:hover {
    background-color: #FFFFFF;
    color: #08C;
}

.navbar .divider-vertical {
    background-color: rgb(210, 210, 210); /*#D2D2D2*/
    border-right: 1px solid #FFFFFF;
}

.navbar .nav > li > a:hover,
.navbar .dropdown-menu a:hover {
    background-color: #FFFFFF;
}

#latest-posts {
    margin-top: 4em;
}

#latest-news > div > h2 + p,
div.full-news h1 + p {
    font-size: 80%;
}

#latest-news > div > h2 {
    border-bottom: none;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
}

div.full-news h1 {
    border-bottom: none;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 0;
    padding-bottom: 0;
}

h1,
h2 {
    font-weight: 500;
}

.marketing h2 {
    border-bottom: none;
    font-size: 22px;
    font-weight: 300;
    margin-bottom: 0;
}

#archive h2,
#archive h3 {
    border-bottom: none;
}

#latest-news {
    margin-top: 3em;
}

#latest-news .new + p {
    margin-top: 2.5em;
}

.marketing {
    border-bottom: 0;
    font-family: inherit;
    margin: 0;
    text-rendering: optimizelegibility;
}

blockquote {
    border-left: 0 !important;
    margin: 0;
}

.centered {
    padding-bottom: 18px;
    text-align: center;
}

/* social networks */
#social-ul a {
    display: block;
    height: 24px;
}

#social-ul a:link {
    outline: none;
    text-decoration: none;
}

#social-ul {
    margin: 0;
}

#social-ul li {
    display: inline-block;
    width: 24px;
    height: 18px;
    list-style: none;
    margin: 0;
    padding: 0 4px 6px;
}

#facebook { background: -56px -2px no-repeat url("../img/social-buttons.png"); }
#gplus    { background: -84px -2px no-repeat url("../img/social-buttons.png"); }
#rss      { background: -28px -2px no-repeat url("../img/social-buttons.png"); }
#twitter  { background:   0 -2px no-repeat url("../img/social-buttons.png"); }


@media screen and (max-width: 979px) {
    body {
        padding-top: 0;
    }
}

@media (max-width: 767px) {
    #content-container #page {
        margin: 30px;
    }
}

@media (max-width: 480px) {
    body {
        background-image: none;
    }
    #content-container {
        -webkit-box-shadow: none;
           -moz-box-shadow: none;
                box-shadow: none;
    }
    #content-container #page {
        margin: 0;
    }
}

@media (min-width: 980px) {
    #page .span4 {
        width: 250px;
    }
    .row {
        margin-left: -10px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    #page .span4 {
        width: 180px;
    }
    .row {
        margin-left: auto;
    }
    img.screenshot {
        width: 180px;
    }
}

@media (max-width: 767px) {
    img.screenshot {
        width: 32%;
    }
    #page div.screenshot {
        display: inline;
        margin: 20px auto;
    }
    #page div.screenshot.last {
        display: inline;
        margin: 20px auto;
        width: 100%;
    }
    #page div.screenshot.last img {
        margin: auto;
    }
}

@media (max-width: 565px) {
    #page div.screenshot {
        display: none;
    }
    #page hr.screenshot {
        display: none;
    }
}
