/*csslint box-sizing: false, font-sizes: false, important: false,
  qualified-headings: false, unique-headings: false*/

body {
    background: white url("../img/bg-pattern.png") repeat top right;
    font: 14px/20px "Open Sans";
    padding-top: 80px;
    position: relative;
}

/* IE 10: Remove grey background on active links
   https://github.com/necolas/normalize.css/commit/37b483c */
a:active {
    background-color: transparent;
}

h1 {
    font-size: 30px;
    font-weight: normal;
    line-height: 1;
    padding-bottom: 17px;
}

h2 {
    font-size: 24px;
    font-weight: normal;
    line-height: 36px;
}

h3 {
    font-size: 18px;
    line-height: 27px;
}

h1,
h2,
h3 {
    margin: 18px 0;
    border-bottom: 1px solid #EEEEEE;
}

table,
table td,
table th,
table tr {
    border: 0;
}

table .pre {
    font-size: 85%;
}

body > .container {
    background-color: white;
    margin-bottom: 30px;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25), inset 0 0 0 rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25), inset 0 0 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.25), inset 0 0 0 rgba(0, 0, 0, 0.1);
}

.page {
    margin: 50px;
}

.full-news h1 {
    border-bottom: 0;
    font-size: 24px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.full-news blockquote {
    margin: 0;
}

.full-news .simple {
    margin-bottom: 6px;
}

.full-news h1 + p {
    font-size: 80%;
}

.latest-news {
    margin-top: 3em;
}

.latest-news > h1 {
    padding-left: 36px;
}

.post-meta {
    color: #777777;
    font-size: 85%;
}

.new h2 {
    border-bottom: 0;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
}

.new + p {
    margin-top: 2.5em;
}

.read-more {
    float: right;
    font-size: 85%;
    font-style: italic;
}

.marketing h2 {
    border-bottom: 0;
    font-size: 22px;
    margin-bottom: 0;
}

.marketing p {
    text-align: justify;
}

.downloads-version {
    font-weight: bold;
    padding-bottom: 8px;
}


/* -- Bootstrap overrides -- */
.container {
    max-width: 940px;
}

.navbar-brand {
    font-size: 21px;
    font-weight: bold;
}

.navbar-brand:focus,
.navbar-brand:hover {
    text-shadow: 0 0 20px #08C;
}

.lead {
    font-size: 20px;
    font-weight: normal;
    line-height: 27px;
    text-align: justify;
}

.btn > .icon-download-alt {
    margin-right: 6px;
    margin-top: 2px !important;
}

.simple + blockquote,
.first + blockquote {
    border-left: 0;
    margin-bottom: 0;
    padding-bottom: 0;
    padding-top: 0;
}

blockquote p {
    font-size: inherit;
}

table {
    width: 100%;
    margin-bottom: 20px;
}

table td,
table th {
    border-top: 1px solid #DDDDDD;
    line-height: 20px;
    padding: 8px;
    vertical-align: top;
}

table th {
    font-weight: bold;
}

table thead th {
    vertical-align: bottom;
}

table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
    border-top: 0;
}

table tbody + tbody {
    border-top: 2px solid #DDDDDD;
}

table table {
    background-color: white;
}

table tbody tr:hover td,
table tbody tr:hover th {
    background-color: #F5F5F5;
}


/* ---- admonitions ---- */
.admonition {
    margin-bottom: 20px;
    margin-top: 10px;
    padding: 15px;
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.admonition-title {
    font-weight: bold;
    margin: 0 10px 5px 0;
}

.warning {
    background-color: #FCF8E3;
    border: 2px solid #FBEED5;
    color: #C09853;
}

.hint,
.note {
    background-color: #DFF0D8;
    border: 2px solid #D6E9C6;
    color: #468847;
}
/* -- admonitions END -- */


/* footer */
footer {
    font-size: 90%;
    margin: 50px 0 30px 0;
}

footer h3 {
    border-bottom: 0;
    margin: 0 0 10px 0;
}

footer ul {
    margin: 0;
}

.noscript-warning {
    display: none;
}

/* -- social networks -- */
.social-ul {
    margin-bottom: 8px;
}

.social-ul li {
    display: inline-block;
    margin: 0 20px 0 0;
}

.rss-before {
    margin-top: 3px !important;
    position: absolute;
}

a.icon-facebook,
a.icon-twitter,
a.icon-google-plus,
a.icon-rss {
    color: lightgray;
    display: inline-block;
    -webkit-transition: color 0.15s linear;
       -moz-transition: color 0.15s linear;
         -o-transition: color 0.15s linear;
            transition: color 0.15s linear;
}

a.icon-facebook:hover,
a.icon-twitter:hover,
a.icon-google-plus:hover,
a.icon-rss:hover,
a.icon-facebook:focus,
a.icon-twitter:focus,
a.icon-google-plus:focus,
a.icon-rss:focus {
    color: gray;
    text-decoration: none;
}

::-moz-selection {
    background-color: #B3D4FC;
    text-shadow: none;
}

::selection {
    background-color: #B3D4FC;
    text-shadow: none;
}


/* -- media queries -- */
@media (min-width: 992px) {
    .navbar .nav > li > a:first-child {
        margin-left: 10px;
    }
}

@media (max-width: 768px) {
    body {
        background-image: none;
    }

    .page {
        margin: 0;
    }

    body > .container {
        -webkit-box-shadow: none;
           -moz-box-shadow: none;
                box-shadow: none;
    }

    .noscript-warning {
        bottom: 0;
        display: block;
        position: fixed;
        width: 100%;
        z-index: 100;
    }

    .page {
        margin: 30px;
    }

    .read-more {
        position: relative;
        top: -8px;
    }

    .footer-left,
    .footer-center,
    .footer-right {
        border-right: none;
    }
}

@media (min-width: 768px) {
    .navbar-toggle + .nav-collapse {
        margin-top: 0;
    }

    .footer-left {
        text-align: left;
    }

    .footer-center {
        margin-left: 0 !important;
        text-align: center;
    }

    .footer-right {
        border-right: none;
        text-align: right;
    }

    .footer-left,
    .footer-center {
        border-right: 1px solid #D2D2D2;
    }

    .copyright {
        margin: 40px auto 30px auto;
    }
}

@media (min-width: 768px) and (max-width: 991px) {
    .navbar-nav > li > a {
        padding: 15px 8px 8px 8px
    }
}
