body {
    background: white url("../img/bg-pattern.png") repeat top right;
    font: 13px/18px Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding-top: 80px;
    position: relative;
}

h1 {
    font-size: 30px;
    font-weight: normal;
    line-height: 1;
    padding-bottom: 17px;
}

h2 {
    font-size: 24px;
    font-weight: normal;
    line-height: 36px;
}

h3 {
    font-size: 18px;
    line-height: 27px;
}

h1,
h2,
h3 {
    margin: 18px 0;
    border-bottom: 1px solid rgb(238, 238, 238);
}

footer {
    margin: 30px 0 20px 0;
}

footer > p {
    font-size: 85%;
    margin-top: -1em;
}

table,
table td,
table th,
table tr {
    border: 0;
}

table .pre {
    font-size: 90%;
}

.container {
    max-width: 940px;
}

#content-container {
    background-color: white;
    margin-bottom: 30px;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25), inset 0 0 0 rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25), inset 0 0 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.25), inset 0 0 0 rgba(0, 0, 0, 0.1);
}

#page {
    margin: 50px;
}

.brand:focus,
.btn-large:focus {
    outline: none;
}

.navbar-fixed-top .brand {
    color: #333;
    font-size: 22px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 30px;
    padding-left: 0;
    padding-right: 0;
    text-shadow: 1px 1px 1px white;
}

.navbar-fixed-top .brand:hover {
    color: white;
    text-shadow: 1px 1px 3px #08C, -1px -1px 3px #08C;
}

.navbar-fixed-top .brand,
.navbar-inner,
.navbar .nav > li > a,
#facebook,
#googleplus,
#rss,
#twitter {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-transition: all 0.15s linear;
       -moz-transition: all 0.15s linear;
         -o-transition: all 0.15s linear;
            transition: all 0.15s linear;
}

.navbar-inner {
    background-color: #E6E6E6;
    background-image: -webkit-linear-gradient(top, #FFFFFF, #E6E6E6);
    background-image:    -moz-linear-gradient(top, #FFFFFF, #E6E6E6);
    background-image:     -ms-linear-gradient(top, #FFFFFF, #E6E6E6);
    background-image:      -o-linear-gradient(top, #FFFFFF, #E6E6E6);
    background-image:        -webkit-gradient(linear, 0 0, 0 100%, from(#FFFFFF), to(#E6E6E6));
    background-image:         linear-gradient(top, #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF', endColorstr='#E6E6E6', GradientType=0);
    padding-left: 20px;
    padding-right: 20px;
    -webkit-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 1px 3px rgba(0, 0, 0, 0.25), inset 0 -1px 0 rgba(0, 0, 0, 0.1);
}

.navbar .divider-vertical{
    height: 40px;
    width: 1px;
    margin: 0 9px;
    overflow: hidden;
    background-color: #222;
    border-right: 1px solid #333
}

.navbar .divider-vertical{
    background-color: #D2D2D2;
    border-right: 1px solid #fff
}

.navbar .nav > li > a {
    color: #333;
    font-weight: bold;
    margin: 7px 2px 0 2px;
    outline: none;
    padding: 5px 11px 5px 11px;
    text-shadow: 1px 1px 1px white;
}

.navbar .nav > li > a:hover {
    color: #333;
}

.navbar .nav > li.active > a,
.navbar .nav > li.active > a:hover {
    color: #08C;
}

.navbar .nav > li > a:hover,
.navbar .dropdown-menu a:hover {
    background-color: #E5E5E5;
}

.full-news h1 {
    border-bottom: 0;
    font-size: 24px;
    line-height: 24px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.full-news blockquote {
    margin: 0;
}

.full-news .simple {
    margin-bottom: 6px;
}

.full-news h1 + p,
#latest-news h2 + p {
    font-size: 80%;
}

#latest-posts {
    margin-top: 4em;
}

#latest-news h2 {
    border-bottom: 0;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
}

#latest-news {
    margin-top: 3em;
}

#latest-news .new + p {
    margin-top: 2.5em;
}

#archive h2,
#archive h3 {
    border-bottom: 0;
}

.read-more {
    float: right;
    font-size: 85%;
    font-style: italic;
}

.marketing {
    border-bottom: 0;
    margin: 0;
}

.marketing h2 {
    border-bottom: 0;
    font-size: 22px;
    margin-bottom: 0;
}

.lead {
    font-size: 20px;
    line-height: 27px;
}

.downloads-version {
    padding-bottom: 18px;
}


/* bootstrap overrides */
blockquote {
    border-left: 0 !important;
}

blockquote p {
    font-size: inherit;
}

.admonition ul {
    margin: 4px 0 10px 25px;
}

table {
  width: 100%;
  margin-bottom: 20px;
}

table th,
table td {
  padding: 8px;
  line-height: 20px;
  vertical-align: top;
  border-top: 1px solid #dddddd;
}

table th {
  font-weight: bold;
}

table thead th {
  vertical-align: bottom;
}

table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
  border-top: 0;
}

table tbody + tbody {
  border-top: 2px solid #dddddd;
}

table table {
  background-color: #ffffff;
}

table tbody tr:hover td,
table tbody tr:hover th {
  background-color: #f5f5f5;
}

.alert, .admonition {
  padding: 8px 35px 8px 14px;
  margin-bottom: 20px;
  text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
  background-color: #fcf8e3;
  border: 1px solid #fbeed5;
  -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.alert,
.admonition,
.alert h4 {
  color: #c09853;
}

.alert h4,
.admonition-title {
  font-weight: bold;
  margin: 0;
}

.alert .close {
  position: relative;
  top: -2px;
  right: -21px;
  line-height: 20px;
}

.alert-success, .note {
  color: #468847;
  background-color: #dff0d8;
  border-color: #d6e9c6;
}


/* social networks */
#social-ul a {
    display: block;
    width: 24px;
    height: 24px;
}

#social-ul a:focus {
    outline: none;
    text-decoration: none;
}

#social-ul {
    margin: 0;
}

#social-ul li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0 3px;
}

#facebook   { background: -56px -2px no-repeat url("../img/social-buttons.png"); }
#googleplus { background: -84px -2px no-repeat url("../img/social-buttons.png"); }
#rss        { background: -28px -2px no-repeat url("../img/social-buttons.png"); }
#twitter    { background:     0 -2px no-repeat url("../img/social-buttons.png"); }

#facebook,
#googleplus,
#rss,
#twitter {
    opacity: 0.7;
    filter: alpha(opacity=70);
}

#facebook:hover,
#googleplus:hover,
#rss:hover,
#twitter:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

::-moz-selection {
    background-color: #B3D4FC;
    text-shadow: none;
}

::selection {
    background-color: #B3D4FC;
    text-shadow: none;
}


@media screen and (max-width: 979px) {
    body {
        padding-top: 0;
    }
}

@media (max-width: 767px) {
    #page {
        margin: 30px;
    }
}

@media (max-width: 480px) {
    body {
        background-image: none;
    }
    #content-container {
        -webkit-box-shadow: none;
           -moz-box-shadow: none;
                box-shadow: none;
    }
    #page {
        margin: 0;
    }
}

@media (min-width: 980px) {
    .span4 {
        width: 250px;
    }
    .row {
        margin-left: -10px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .span4,
    img.screenshot {
        width: 180px;
    }
    .row {
        margin-left: auto;
    }
}

@media (max-width: 767px) {
    img.screenshot {
        width: 32%;
    }
    div.screenshot {
        display: inline;
        margin: 20px auto;
    }
    div.screenshot.last {
        display: inline;
        margin: 20px auto;
        width: 100%;
    }
    div.screenshot.last img {
        margin: auto;
    }
}

@media (max-width: 565px) {
    div.screenshot,
    hr.screenshot {
        display: none;
    }
}
