body {
    background: white url("../img/bg-pattern.png") repeat top right;
    font: 13px/18px Ubuntu, "Helvetica Neue", Helvetica, Arial, sans-serif;
    margin: 0;
    padding-top: 80px;
    position: relative;
}

h1 {
    font-size: 30px;
    font-weight: normal;
    line-height: 1;
    padding-bottom: 17px;
}

h2 {
    font-size: 24px;
    font-weight: normal;
    line-height: 36px;
}

h3 {
    font-size: 18px;
    line-height: 27px;
}

h1,
h2,
h3 {
    margin: 18px 0;
    border-bottom: 1px solid #EEEEEE;
}

footer {
    margin: 30px 0 20px 0;
}

footer > p {
    font-size: 85%;
    margin-top: -1em;
}

table,
table td,
table th,
table tr {
    border: 0;
}

table .pre {
    font-size: 90%;
}

.content-container {
    background-color: white;
    margin-bottom: 30px;
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25), inset 0 0 0 rgba(0, 0, 0, 0.1);
       -moz-box-shadow: 0 0 4px rgba(0, 0, 0, 0.25), inset 0 0 0 rgba(0, 0, 0, 0.1);
            box-shadow: 0 0 4px rgba(0, 0, 0, 0.25), inset 0 0 0 rgba(0, 0, 0, 0.1);
}

.page {
    margin: 50px;
}

.navbar .brand:focus,
.btn-large:focus {
    outline: none;
}

.full-news h1 {
    border-bottom: 0;
    font-size: 24px;
    margin-bottom: 0;
    padding-bottom: 0;
}

.full-news blockquote {
    margin: 0;
}

.full-news .simple {
    margin-bottom: 6px;
}

.full-news h1 + p,
.new h2 + p {
    font-size: 80%;
}

#latest-news {
    margin-top: 3em;
}

.new h2 {
    border-bottom: 0;
    font-size: 20px;
    line-height: 20px;
    margin-bottom: 0;
}

.new + p {
    margin-top: 2.5em;
}

.archive h2,
.archive h3 {
    border-bottom: 0;
}

.read-more {
    float: right;
    font-size: 85%;
    font-style: italic;
}

.marketing {
    border-bottom: 0;
    margin: 0;
}

.marketing h2 {
    border-bottom: 0;
    font-size: 22px;
    margin-bottom: 0;
}

.downloads-version {
    padding-bottom: 18px;
}


/* -- Bootstrap overrides -- */
.container {
    max-width: 940px;
}

.navbar .brand,
.navbar .nav > li > a {
    -webkit-transition: all 0.15s linear;
       -moz-transition: all 0.15s linear;
         -o-transition: all 0.15s linear;
            transition: all 0.15s linear;
}

.navbar .nav > li > a {
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
}

.navbar .divider-vertical {
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;
    width: 3px;
    background-color: #D2D2D2;
    border-right: 1px solid white;
}

.navbar .brand {
    font-size: 22px;
    font-weight: bold;
    margin-left: 20px;
    margin-right: 30px;
    padding-left: 0;
    padding-right: 0;
}

.navbar .brand:hover {
    color: white;
    filter: progid:DXImageTransform.Microsoft.Shadow(Color='#00008c', Direction=315, Strength=4); /* IE DIE ALREADY */
    text-shadow: 0 2px 4px #08C, 0 -2px 4px #08C;
}

.navbar .nav > li > a {
    font-weight: bold;
    margin: 7px 2px 0 2px;
    outline: none;
    padding: 5px 11px 5px 11px;
}

.navbar .nav > li.active > a,
.navbar .nav > li.active > a:hover {
    color: #08C;
}

.navbar .nav > li > a:hover,
.navbar .dropdown-menu a:hover {
    background-color: #E5E5E5;
}

.lead {
    font-size: 20px;
    font-weight: lighter;
    line-height: 27px;
    text-align: justify;
}

blockquote {
    border-left: 0 !important;
}

blockquote p {
    font-size: inherit;
}

table {
    width: 100%;
    margin-bottom: 20px;
}

table th,
table td {
    padding: 8px;
    line-height: 20px;
    vertical-align: top;
    border-top: 1px solid #dddddd;
}

table th {
    font-weight: bold;
}

table thead th {
    vertical-align: bottom;
}

table caption + thead tr:first-child th,
table caption + thead tr:first-child td,
table colgroup + thead tr:first-child th,
table colgroup + thead tr:first-child td,
table thead:first-child tr:first-child th,
table thead:first-child tr:first-child td {
    border-top: 0;
}

table tbody + tbody {
    border-top: 2px solid #dddddd;
}

table table {
    background-color: white;
}

table tbody tr:hover td,
table tbody tr:hover th {
    background-color: #f5f5f5;
}


/* ---- admonitions ---- */
.admonition {
    margin-bottom: 10px;
    /*margin-bottom: 20px;*/
    margin-top: 10px;
    padding: 7px;
    /*padding: 8px 35px 8px 14px;*/
    text-shadow: 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-border-radius: 4px;
     -moz-border-radius: 4px;
          border-radius: 4px;
}

.admonition-title {
    font-weight: bold;
    margin: 0 10px 5px 0;
}

.warning {
    background-color: #fcf8e3;
    border: 2px solid #fbeed5;
    color: #c09853;
}

.hint,
.note {
    /*color: #3A87AD;*/
    background-color: #dff0d8;
    border: 2px solid #d6e9c6;
    color: #468847;
}
/* -- admonitions END -- */


/* -- social networks -- */
.social-ul a {
    display: block;
    width: 24px;
    height: 24px;
}

.social-ul a:focus {
    outline: none;
    text-decoration: none;
}

.social-ul {
    margin: 0;
}

.social-ul li {
    display: inline-block;
    list-style: none;
    margin: 0;
    padding: 0 3px;
}

.social-sprite {
    background: url("../img/social-buttons.png") no-repeat;
}

.facebook   { background-position: -56px -2px; }
.googleplus { background-position: -84px -2px; }
.rss        { background-position: -28px -2px; }
.twitter    { background-position:     0 -2px; }

.facebook,
.googleplus,
.rss,
.twitter {
    opacity: 0.80;
    filter: alpha(opacity=80);
    -webkit-border-radius: 4px;
       -moz-border-radius: 4px;
            border-radius: 4px;
    -webkit-transition: opacity 0.15s linear;
       -moz-transition: opacity 0.15s linear;
         -o-transition: opacity 0.15s linear;
            transition: opacity 0.15s linear;
}

.facebook:hover,
.googleplus:hover,
.rss:hover,
.twitter:hover {
    opacity: 1.0;
    filter: alpha(opacity=100);
}

::-moz-selection {
    background-color: #B3D4FC;
    text-shadow: none;
}

::selection {
    background-color: #B3D4FC;
    text-shadow: none;
}


@media screen and (max-width: 979px) {
    body {
        padding-top: 0;
    }
}

@media (max-width: 767px) {
    .page {
        margin: 30px;
    }
}

@media (max-width: 480px) {
    body {
        background-image: none;
    }
    .content-container {
        -webkit-box-shadow: none;
           -moz-box-shadow: none;
                box-shadow: none;
    }
    .page {
        margin: 0;
    }
}

@media (min-width: 980px) {
    .span4 {
        width: 250px;
    }
    .row {
        margin-left: -10px;
    }
}

@media (min-width: 768px) and (max-width: 979px) {
    .span4,
    img.screenshot {
        width: 180px;
        height: 130px;
    }
    .row {
        margin-left: auto;
    }
}

@media (max-width: 767px) {
    img.screenshot {
        width: 32%;
        height: 24%;
    }
    div.screenshot {
        display: inline;
    }
}

@media (max-width: 565px) {
    div.screenshot,
    hr.screenshot {
        display: none;
    }
}
