body {
    position:relative;
    background:#fff url(../img/bg-pattern.png) repeat top right
}

#content-container {
    margin-bottom:20px;
    background-color:#FFF;
    -webkit-box-shadow:0 0 4px rgba(0,0,0,0.25),inset 0 0 0 rgba(0,0,0,0.1);
    -moz-box-shadow:0 0 4px rgba(0,0,0,0.25),inset 0 0 0 rgba(0,0,0,0.1);
    box-shadow:0 0 4px rgba(0,0,0,0.25),inset 0 0 0 rgba(0,0,0,0.1)
}

#content-container #page {
    margin:50px
}

@media (max-width:767px) {
    #content-container #page {
        margin:30px
    }
}

@media (max-width:480px) {
    #content-container {
        -webkit-box-shadow:none;
        -moz-box-shadow:none;
        box-shadow:none
    }

    #content-container #page {
        margin:0
    }

    body {
        background-image:none
    }
}

.read-more {
    float:right;
    font-size:85%
}

.small-article-infos {
    margin-top:-.6em
}

#most-users {
    vertical-align:baseline
}

.container a.headerlink {
    font-size:.8em;
    padding:0 4px;
    text-decoration:none;
    visibility:hidden
}

.container :hover>a.headerlink {
    visibility:visible
}

.copyright {
    text-align:center;
    font-size:85%;
    margin-top:-1em
}

table,table * {
    border:0
}

.footer-separator {
    margin-top:2em
}

.navbar-fixed-top .brand {
    padding-right:0;
    padding-left:0;
    margin-left:20px;
    margin-right:30px;
    font-weight:700;
    font-size:22px;
    color:#333;
    text-shadow:1px 1px 1px #FFF;
    -webkit-transition:all .1s linear;
    -moz-transition:all .1s linear;
    transition:all .1s linear
}

.navbar-fixed-top .brand:hover {
    color:#FFF;
    text-shadow:1px 1px 3px #08C,-1px -1px 3px #08C
}

.navbar-inner {
    padding-left:20px;
    padding-right:20px;
    background-color:#e6e6e6;
    background-image:-moz-linear-gradient(top,#FFFFFF,#e6e6e6);
    background-image:-ms-linear-gradient(top,#FFFFFF,#e6e6e6);
    background-image:-webkit-gradient(linear,0 0,0 100%,from(#FFFFFF),to(#e6e6e6));
    background-image:-webkit-linear-gradient(top,#FFFFFF,#e6e6e6);
    background-image:-o-linear-gradient(top,#FFFFFF,#e6e6e6);
    background-image:linear-gradient(top,#FFFFFF,#e6e6e6);
    background-repeat:repeat-x;
    filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#FFFFFF',endColorstr='#E6E6E6',GradientType=0);
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
    -moz-box-shadow:0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1);
    box-shadow:0 1px 3px rgba(0,0,0,0.25),inset 0 -1px 0 rgba(0,0,0,0.1)
}

.navbar .nav>li>a {
    font-weight:700;
    color:#333;
    text-shadow:1px 1px 1px #FFF;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    margin:7px 2px 0;
    padding:5px 11px
}

.navbar .nav>li>a:hover {
    color:#333
}

.navbar .nav>li.active>a {
    color:#08C;
    background-color:#FFF
}

.navbar .nav>li.active>a:hover {
    color:#08C;
    background-color:#FFF
}

.navbar .divider-vertical {
    background-color:#d2d2d2;
    border-right:1px solid #FFF
}

.navbar .nav>li>a:hover,.navbar .dropdown-menu a:hover {
    background-color:#FFF
}

#latest-posts {
    margin-top:4em
}

#latest-news>div>h2+p,div.full-news h1+p {
    font-size:80%
}

#latest-news>div>h2 {
    font-size:20px;
    line-height:20px;
    border-bottom:none;
    margin-bottom:0
}

div.full-news h1 {
    font-size:24px;
    line-height:24px;
    border-bottom:none;
    margin-bottom:0;
    padding-bottom:0
}

#page h1,#page h2 {
    font-weight:500
}

.marketing h2 {
    border-bottom:none;
    font-family:"Helvetica Neue",Helvetica,Arial,sans-serif;
    font-size:22px;
    font-weight:300;
    margin-bottom:0
}

#archive h3,#archive h2 {
    border-bottom:none
}

#latest-news {
    margin-top:3em
}

#latest-news .new+p {
    margin-top:2.5em
}

.marketing {
    font-family:inherit;
    text-rendering:optimizelegibility;
    margin:0;
    border-bottom:0
}

.span4 {
    width:220px
}

@media (min-width:980px) {
    #page .span4 {
        width:250px
    }

    .row {
        margin-left:-10px
    }
}

@media (min-width:768px) and (max-width:979px) {
    #page .span4 {
        width:180px
    }

    .row {
        margin-left:auto
    }

    img.screenshot {
        width:180px
    }
}

@media (max-width:767px) {
    img.screenshot {
        width:32%
    }

    #page div.screenshot {
        display:inline;
        margin:20px auto
    }

    #page div.screenshot.last {
        display:inline;
        margin:20px auto;
        width:100%
    }

    #page div.screenshot.last img {
        margin:auto
    }
}

@media (max-width:565px) {
    #page div.screenshot {
        display:none
    }

    #page hr.screenshot {
        display:none
    }
}

.section>dl>dt {
    font-size:15px;
    line-height:20px
}

.section>dl>dd {
    margin-left:25px
}

.section>dl>dd+dt {
    margin-top:1em
}

blockquote {
    border-left:0!important
}

.mail_at:before {
    content:"@"
}

.mail_dot:before {
    content:"."
}