<script>
    /* jshint browser:true, jquery:true */

    $(document).ready(function () {
        "use strict";

        $(".fancybox-thumb").fancybox({
            padding: 0,
            helpers: {
                title: { type: "float" }
            },
            beforeLoad: function () {
                var el;
                var id = $(this.element).data("title-id");
                if (id) {
                    el = $("#" + id);
                    if (el.length) {
                        this.title = el.html();
                    }
                }
            }
        });
    });
</script>
