        </div>
        <footer role="contentinfo">
            <div class="container">
                <div class="row">
                    <div class="col-xs-12 col-sm-4 footer-left">
                        <h3>Follow us on</h3>
                        <ul class="social-ul list-inline">
                            <li>
                                <a href="https://www.facebook.com/MediaPlayerClassicHomeCinema" title="Like our page on Facebook!">
                                    <span class="fa fa-facebook-f fa-2x" aria-hidden="true"></span>
                                    <span class="sr-only">Facebook</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://twitter.com/mpc_hc/" title="Follow us on Twitter!">
                                    <span class="fa fa-twitter fa-2x" aria-hidden="true"></span>
                                    <span class="sr-only">Twitter</span>
                                </a>
                            </li>
                            <li>
                                <a href="https://plus.google.com/+Mpc-hcOrg/" title="Follow us on Google+">
                                    <span class="fa fa-google-plus fa-2x" aria-hidden="true"></span>
                                    <span class="sr-only">Google+</span>
                                </a>
                            </li>
                            <li>
                                <a href="/rss.xml" title="RSS Feed">
                                    <span class="fa fa-rss fa-2x" aria-hidden="true"></span>
                                    <span class="sr-only">RSS Feed</span>
                                </a>
                            </li>
                        </ul>
                        <ul class="list-unstyled">
                            <li>
                                <a href="/acknowledgments/">Acknowledgments</a>
                            </li>
                        </ul>
                    </div>
                    <!--googleoff: all-->
                    <div class="col-xs-12 col-sm-4 footer-center">
                        <p class="clearfix">
                            Hosting sponsored by:<br>
                            <em><a href="http://www.cloudvps.com/">CloudVPS</a> - Private Cloud, Clusters &amp; VPS</em>
                        </p>
                        <a href="http://www.cloudvps.com/">
                            <img src="/assets/img/cloudvps_small.png" width="100" height="70" title="CloudVPS - Private Cloud, Clusters &amp; VPS" alt="CloudVPS logo">
                        </a>
                    </div>
                    <!--googleon: all-->
                    <div class="col-xs-12 col-sm-4 footer-right">
                        <p>Site last updated on <time class="last-updated" datetime="{{ site.time | date_to_xmlschema }}" title="{{ site.time | date_to_rfc822 }}">{{ site.time | date_to_long_string }}</time>.</p>
                        <p>Copyright &copy; 2012-{{ site.time | date: '%Y' }} <a href="/about/">MPC-HC Team</a></p>
                    </div>
                </div>
            </div>
        </footer>
        <noscript>
            <div class="alert alert-danger visible-xs noscript-warning">
                <h4><span class="fa fa-exclamation-circle" aria-hidden="true"></span> Warning!</h4>
                <p>You have JavaScript disabled or your browser doesn't support it.
                Some features, like the navigation button, won't be available.</p>
            </div>
        </noscript>
        <script src="//ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
        <script>window.jQuery || document.write('<script src="/assets/js/jquery-1.11.3.min.js"><\/script>')</script>
        <script src="/assets/js/pack.js"></script>
        {% if page.slug == "home" %}
            {% include detect-os.html %}
        {% endif %}

        {% if page.useFancybox %}
            {% include fancybox.html %}
        {% endif %}

        {% if page.slug == "downloads" or page.slug == "home" %}
            {% include sf-accel.html %}
        {% endif %}
    </body>
</html>
