<h1 id="archive">Archive</h1>

{% for post in paginator.posts %}
  {% capture current_year %}{{ post.date | date: "%B %Y" }}{% endcapture %}
  {% if current_year != year %}
    {% unless forloop.first %}
    </ul>
    {% endunless %}

    <h2 id="{{ current_year | downcase | replace: ' ','_' }}">{{ current_year }}</h2>
    <ul class="list-unstyled">
    {% capture year %}{{current_year}}{% endcapture %}
  {% endif %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% if forloop.last %}
    </ul>
    {% endif %}
{% endfor %}

    <nav>
        <ul class="pager">
          {% if paginator.next_page %}
            <li class="next">
                <a href="/archive/page{{paginator.next_page}}">Next Page <span class="fa fa-chevron-right"></span></a>
            </li>
          {% else %}
            <li class="next disabled">
                <span>Next Page <span class="fa fa-chevron-right"></span></span>
            </li>
          {% endif %}
          {% if paginator.previous_page %}
            {% if paginator.page == 2 %}
            <li class="previous">
                <a href="/archive/"><span class="fa fa-chevron-left"></span> Previous Page</a>
            </li>
            {% else %}
            <li class="previous">
                <a href="/archive/page{{paginator.previous_page}}"><span class="fa fa-chevron-left"></span> Previous Page</a>
            </li>
            {% endif %}
          {% else %}
            <li class="previous disabled">
                <span><span class="fa fa-chevron-left"></span> Previous Page</span>
            </li>
          {% endif %}
        </ul>
    </nav>
