<h1 id="archive">Archive</h1>

{% for post in paginator.posts %}
  {% capture current_year %}{{ post.date | date: "%B %Y" }}{% endcapture %}
  {% if current_year != year %}
    {% unless forloop.first %}
    </ul>
    {% endunless %}

    <h2 id="{{ current_year | downcase | replace: ' ','_' }}">{{ current_year }}</h2>
    <ul class="list-unstyled">
    {% capture year %}{{current_year}}{% endcapture %}
  {% endif %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% if forloop.last %}
    </ul>
    {% endif %}
{% endfor %}

    <ul class="pager">
      {% if paginator.next_page %}
        <li class="next">
            <a href="/archive/page{{paginator.next_page}}" title="{{ page.next.title }}">Next Page <i class="fa fa-chevron-right"></i></a>
        </li>
      {% else %}
        <li class="next disabled">
            <a>Next Page <i class="fa fa-chevron-right"></i></a>
        </li>
      {% endif %}
        <!--<li><a href="/archive/">Archive</a></li>-->
      {% if paginator.previous_page %}
        {% if paginator.page == 2 %}
        <li class="previous">
            <a href="/archive/" title="{{ page.previous.title }}"><i class="fa fa-chevron-left"></i> Previous Page</a>
        </li>
        {% else %}
        <li class="previous">
            <a href="/archive/page{{paginator.previous_page}}" title="{{ page.previous.title }}"><i class="fa fa-chevron-left"></i> Previous Page</a>
        </li>
        {% endif %}
      {% else %}
        <li class="previous disabled">
            <a><i class="fa fa-chevron-left"></i> Previous Page</a>
        </li>
      {% endif %}
    </ul>
