<h1 id="archive">Archive</h1>

{% for post in paginator.posts %}
  {% capture current_year %}{{ post.date | date: "%B %Y" }}{% endcapture %}
  {% if current_year != year %}
    {% unless forloop.first %}
    </ul>
    {% endunless %}

    <h2 id="{{ current_year | downcase | replace: ' ','_' }}">{{ current_year }}</h2>
    <ul class="list-unstyled">
    {% capture year %}{{current_year}}{% endcapture %}
  {% endif %}
      <li><a href="{{ post.url }}">{{ post.title }}</a></li>
    {% if forloop.last %}
    </ul>
    {% endif %}
{% endfor %}

    <nav>
        {% if paginator.total_pages > 1 %}
        <div class="paginate-container text-center">
            <ul class="pagination">
              {% if paginator.previous_page %}
                <li {% if page == paginator.page %}class="active"{% endif %}>
                    <a href="{{ paginator.previous_page_path | prepend: site.baseurl | replace: '//', '/' | append: '/' }}"><span class="fa fa-angle-double-left"></span><span class="sr-only">Previous Page</span></a>
                </li>
              {% else %}
                <li class="disabled">
                    <span><span class="fa fa-angle-double-left"></span><span class="sr-only">Previous Page</span></span>
                </li>
              {% endif %}

              {% for page in (1..paginator.total_pages) %}
                {% if page == 1 %}
                  <li {% if page == paginator.page %}class="active"{% endif %}>
                    <a href="{{ '/archive/' | prepend: site.baseurl | replace: '//', '/' | append: '/' }}">{{ page }}</a>
                  </li>
                {% else %}
                  <li {% if page == paginator.page %}class="active"{% endif %}>
                    <a href="{{ site.paginate_path | prepend: site.baseurl | replace: '//', '/' | replace: ':num', page | append: '/' }}">{{ page }}</a>
                  </li>
                {% endif %}
              {% endfor %}

              {% if paginator.next_page %}
                <li {% if page == paginator.page %}class="active"{% endif %}>
                    <a href="{{ paginator.next_page_path | prepend: site.baseurl | replace: '//', '/' | append: '/' }}"><span class="sr-only">Next Page</span><span class="fa fa-angle-double-right"></span></a>
                </li>
              {% else %}
                <li class="disabled">
                    <span><span class="sr-only">Next Page</span><span class="fa fa-angle-double-right"></span></span>
                </li>
              {% endif %}
            </ul>
        </div>
        {% endif %}
    </nav>
