---
layout: default
title: Home
permalink: /
slug: home
---

{% if paginator.page > 1 %}
  {% include pagination.html %}
{% else %}

<p class="lead">
    <abbr title="Media Player Classic - Home Cinema">MPC-HC</abbr> is an extremely
    light-weight, open source media player for Windows<sup>&reg;</sup>. It supports
    all common video and audio file formats available for playback.
    We are 100% <span><em>spyware free, there are no advertisements or toolbars</em></span>.
</p>

<div class="button-wrapper">
    <a href="https://binaries.mpc-hc.org/MPC%20HomeCinema%20-%20Win32/MPC-HC_v{{ site.version.short }}_x86/MPC-HC.{{ site.version.short }}.x86.exe"
        id="downloadButton" class="btn btn-default btn-lg" data-version="{{ site.version.short }}">
        <span class="fa fa-download" aria-hidden="true"></span> MPC-HC - Download now!
    </a>
    <p class="button-sub">{{ site.version.short }} <span>32-bit</span> - <a href="/downloads/">Other systems &amp; versions</a></p>
</div>

<hr>

<div class="row features gallery">
    <div class="col-xs-12 col-sm-4">
        <a class="thumbnail" href="/assets/img/screenshots/mpc-hc.original.png" title="MPC-HC's main window">
            <img src="/assets/img/screenshots/mpc-hc.original.thumb.png" width="300" height="200" alt="MPC-HC's main window">
        </a>
        <h1>Lightweight</h1>
        <p>
            Watch movies on any SSE CPU, even on your old computer back from '99.
        </p>
    </div>
    <div class="col-xs-12 col-sm-4">
        <a class="thumbnail" href="/assets/img/screenshots/mpc-hc.toolbar.png" title="MPC-HC with custom toolbar" data-title-id="title-toolbar">
            <img src="/assets/img/screenshots/mpc-hc.toolbar.thumb.png" width="300" height="200" alt="MPC-HC with custom toolbar">
        </a>
        <h1>Customizable</h1>
        <p>
            With its wide array of options, MPC-HC can be customized to fit almost any needs.
            Among other things, we added <a href="https://trac.mpc-hc.org/wiki/Toolbar_images" target="_blank">custom toolbars</a>.
        </p>
    </div>
    <div class="col-xs-12 col-sm-4">
        <a class="thumbnail" href="/assets/img/screenshots/mpc-hc.dvb.png" title="MPC-HC as DVB Player">
            <img src="/assets/img/screenshots/mpc-hc.dvb.thumb.png" width="300" height="200" alt="MPC-HC as DVB Player">
        </a>

        <h1>All around player</h1>
        <p>
            MPC-HC can also be used as DVB player.
        </p>
    </div>
</div>


<hr>


<div class="latest-news">
    <a class="rss-before" href="/rss.xml" title="RSS Feed">
        <span class="fa fa-rss fa-2x" aria-hidden="true"></span>
        <span class="sr-only">RSS Feed</span>
    </a>

    <h2>
        <a href="/archive/" title="Browse the archive">Latest news</a>
    </h2>

    {% for post in site.posts limit:site.news_limit %}
    <div class="new">
        <h3>
            <a href="{{ post.url }}">{{ post.title }}</a>
        </h3>

        <div class="post-meta">
            <span class="date">
                <span class="fa fa-calendar" aria-hidden="true"></span> {{ post.date | date: "%B %d, %Y" }}
            </span>
            <span class="user">
                <span class="fa fa-user" aria-hidden="true"></span> {{ post.author }}
            </span>
        </div>

        {{ post.excerpt }}
    </div>
    {% endfor %}

</div>

{% endif %}
