---
layout: default
title: Home
permalink: /
slug: home
useFancybox: true
---

{% if paginator.page > 1 %}
  {% include pagination.html %}
{% else %}

<p class="lead">
    <abbr title="Media Player Classic - Home Cinema">MPC-HC</abbr> is an extremely
    light-weight, open source media player for Windows<sup>&reg;</sup>. It supports
    all common video and audio file formats available for playback.
    We are 100% <em>spyware free, there are no advertisements or toolbars</em>.
</p>

<div class="button-wrapper">
    <a href="http://sourceforge.net/projects/mpc-hc/files/MPC%20HomeCinema%20-%20Win32/MPC-HC_v{{ site.version.short }}_x86/MPC-HC.{{ site.version.short }}.x86.exe/download"
        id="downloadButton" class="btn btn-default btn-lg sourceforge_accelerator_link">
        <span class="fa fa-download" aria-hidden="true"></span> MPC-HC - Download now!
    </a>
    <p class="button-sub">{{ site.version.short }} <span>32-bit</span> - <a href="/downloads/">Other systems &amp; versions</a></p>
</div>

<hr>

<div class="row features">
    <div class="col-xs-12 col-sm-4">
        <a class="thumbnail fancybox-thumb" data-fancybox-group="gallery" href="/assets/img/screenshots/mpc-hc.original.png" title="MPC-HC's main window">
            <img class="img-responsive" src="/assets/img/screenshots/mpc-hc.original.thumb.png" alt="MPC-HC" width="300" height="200">
        </a>
        <h1>Lightweight</h1>
        <p>
            Watch movies on any SSE CPU, even on your old computer back from '99.
        </p>
    </div>
    <div class="col-xs-12 col-sm-4">
        <a class="thumbnail fancybox-thumb" data-fancybox-group="gallery" href="/assets/img/screenshots/mpc-hc.toolbar.png" title="MPC-HC with custom toolbar" data-title-id="title-toolbar">
            <img class="img-responsive" src="/assets/img/screenshots/mpc-hc.toolbar.thumb.png" alt="MPC-HC with custom toolbar" width="300" height="200">
        </a>
        <div id="title-toolbar" class="hidden">
            MPC-HC with <a href="https://trac.mpc-hc.org/wiki/Toolbar_images" target="_blank">custom toolbar</a>.
        </div>
        <h1>Customizable</h1>
        <p>
            With its wide array of options, MPC-HC can be customized to fit almost any needs. Among other things we added custom toolbars.
        </p>
    </div>
    <div class="col-xs-12 col-sm-4">
        <a class="thumbnail fancybox-thumb" data-fancybox-group="gallery" href="/assets/img/screenshots/mpc-hc.dvb.png" title="MPC-HC as DVB Player">
            <img class="img-responsive" src="/assets/img/screenshots/mpc-hc.dvb.thumb.png" alt="MPC-HC as DVB Player" width="300" height="200">
        </a>
        <h1>All around player</h1>
        <p>
            MPC-HC can also be used as DVB player.
        </p>
    </div>
</div>


<hr>


<div class="latest-news">
    <a class="rss-before" href="/rss.xml" title="RSS Feed">
        <span class="fa fa-rss fa-2x" aria-hidden="true"></span>
        <span class="sr-only">RSS Feed</span>
    </a>

    <h2>
        <a href="/archive/" title="Browse the archive">Latest news</a>
    </h2>

    {% for post in site.posts limit:site.news_limit %}
    <div class="new">
        <h3>
            <a href="{{ post.url }}">{{ post.title }}</a>
        </h3>

        <div class="post-meta">
            <span class="date">
                <span class="fa fa-calendar" aria-hidden="true"></span> {{ post.date | date: "%B %d, %Y" }}
            </span>
            <span class="user">
                <span class="fa fa-user" aria-hidden="true"></span> {{ post.author }}
            </span>
        </div>

        {{ post.excerpt }}
    </div>
    {% endfor %}

</div>

{% endif %}
